.page {
  display: flex;
  justify-content: center;
  padding-top: 6em;
}

.form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: start;
  padding: 1em 3em;

  border-radius: 15%;

  background-color: rgb(47, 128, 110);
  color: white;

  border: solid 0.3em;
  border-color: white;

  padding-bottom: 3em;
}

.input {
  min-height: 3em;
  width: 100%;
}

.h3 {
  font-size: larger;
  font-size: 200%;
}

.botones {
  padding-top: 2em;
  padding-bottom: 1em;
  display: flex;
  flex-flow: nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  gap: 0.5em;
}

.button {
  width: 100%;
  min-height: 2.5em;
  background-color: rgb(124, 255, 227);
  background-color: white;
  color: black;

  padding: 0;
  font: inherit;
  outline: inherit;
}

.cuenta-nueva {
  background-color: rgb(124, 255, 227);
  color: black;

  border: solid 0.1em;
  border-color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cuenta-nueva:hover {
  background-color: rgb(103, 209, 186);
  cursor: default;
}
