.table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background-color: white;
}

td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(47, 128, 110);
  color: white;
}

.titulo {
  border: 1px solid #ddd;
  padding: 8px;
  width: 99%;

  background-color: rgb(47, 128, 110);
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
}
